[package]
name = "abs_admin"
version = "0.1.0"
authors = ["zhuxiujia <zhuxiujia@qq.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#rbatis orm dep must use async-std(Because actix-web relies on tokio0.2)
rbson = "2.0"
tokio = { version = "1", features = ["full"] }
rbatis = { version = "3.1", default-features = false, features = ["mysql", "runtime-tokio-rustls"] }
#serde and json
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8"
chrono = { version = "0.4", features = ["serde"] }
#static
lazy_static = "1.4.0"
#log
log = "0.4"
fast_log = { version = "1.5", features = ["lz4", "zip", "gzip"] }
#web server
actix-web = {version="4.0", default-features = false, features = ["macros"]}
#redis
redis = { version = "0.20", features = ["tokio-comp"] }
#jwt
jsonwebtoken = "7"
#snowflake
rustflake = "0.1.0"
md5 = "0.7.0"
#captcha
captcha = "0.0.8"
#http client,use rust-tls replace to native tls
reqwest = { version = "0.11", default-features = false, features = ["json", "tokio-rustls"] }
#image code
image = "0.23"
#async trait
async-trait = "0.1"

once_cell = "1.9"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1