[package]
name = "abs_admin"
version = "0.1.0"
authors = ["zhuxiujia <zhuxiujia@qq.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
rbs = { version = "4.4" }
rbatis = { version = "4.4", features = [] }
rbdc-sqlite = { version = "4.4" }
#rbatis orm dep must use async-std(Because actix-web relies on tokio0.2)
tokio = { version = "1", features = ["full"] }
#serde and json
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
#log
log = "0.4"
#fast_log enable features = ["lz4", "zip", "gzip"], and edit src/config/log.rs fn choose_packer(),edit application.yml add log_pack_compress: "zip"
fast_log = { version = "1.6", features = ["mmap"] }
#web server
actix-web = { version = "4", default-features = false, features = ["macros"] }
actix-http = "3"
#redis
redis = { version = "0.22.3", features = ["tokio-comp"] }
#jwt
jsonwebtoken = "8"
#snowflake
rustflake = "0.1"
md5 = "0.7"
#captcha
captcha = "0.0.9"
#http client,use rust-tls replace to native tls
reqwest = { version = "0.11", default-features = false, features = ["json", "tokio-rustls"] }
#image code
image = "0.24"
#lazy
once_cell = "1.9"
futures-util = "0.3.21"
parking_lot = "0.12.1"
[profile.release]
lto = true
opt-level = 3
codegen-units = 1